{>"layouts/master" /}

{<include}
    <link rel="stylesheet" href="/css/login.css" />
{/include}
{<body}
    <div class="container">
        <h2 class="form-signin-heading">Bem-vindo ao módulo administrativo do Peludos & Cia!</h2>
        <form class="form-signin" method="POST" action="/admin/cadastrar" >
            <label for="login" class="sr-only">Login</label>
            <input type="text" id="login" class="form-control" placeholder="Login" name="login"  autofocus/>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Senha"/ name="password" >
            <button class="btn btn-lg btn-primary btn-block btn-peludos" type="submit">Cadastrar</button>
            <input type="hidden" name="_csrf" value="{_csrf}"/>
        </form>
        {?msgRetorno}
            <div class="alert alert-danger text-center" role="alert">Login ou senha estão errados. Tente novamente.</div>
        {/msgRetorno}
    </div> <!-- /container -->

    {<script}
        <link rel="stylesheet" href="/css/login.css" />
    {/script}

{/body}
