{>"layouts/master" /}

{<body}
<div class="container" style="padding-top:50px;padding-bottom:100px;">
  <h1 class="m-0 text-center">Em construção</h1>
</div>
{/body}

{<script}
<script type="text/javascript">
  $("#menu-loja").addClass("active-peludos");
</script>

{/script}
