/*!
 * Start Bootstrap - Small Business (https://startbootstrap.com/template-overviews/small-business)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-small-business/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#container-principal {
  padding-top: 100px;
}


.navbar-peludos {
  /*background-color: #5D5D5D;*/
  background-color: #FFFFFF;
  /*background-color:rgba(0, 0, 0, 0.0);*/
  border-color: #E7E7E7;
}

.a-peludos {
  color:#000000 !important;
  font-weight: bold;
}

.a-peludos:hover {
  color:#FBBB00 !important;
  font-weight: bold;
}

.a-peludos-branco {
  color:#FFFFFF !important;
  font-weight: bold;
}

.active-peludos {
  color:#FBBB00 !important;
  font-weight: bold;
}

.btn-peludos {
  background-color: #5D5D5D;
  border-color: #5D5D5D;
}

.btn-peludos:hover {
  background-color: #FBBB00;
  border-color: #FBBB00;
}

.p-peludos-footer {
  color:#FBBB00 !important;
}

.footer-peludos {
  background-color: #5D5D5D;
}
/* Parte do post do blog */
.p-peludos-blog-post-no-margin {
    margin-bottom: 0px;
}

.carrousel-peludos {
    height: auto !important;
}

/*#adicionarCarouselDiv {
    min-height: 400px;
    height: 50%;
}*/

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
